@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'league_spartanbold';
    src: url('./leaguespartan-bold-webfont.woff') format('woff');
  }

/* timeline data */
.timeline{-webkit-box-sizing:border-box;box-sizing:border-box;position:relative}.timeline *,.timeline :after,.timeline :before{-webkit-box-sizing:inherit;box-sizing:inherit}.timeline:not(.timeline--horizontal):before{background-color:#ddd;bottom:0;content:'';left:50%;margin-left:-2px;position:absolute;top:0;width:4px;z-index:1}.timeline__wrap{overflow:hidden;position:relative;z-index:2}.timeline__item{font-size:16px;font-size:1rem;padding:.625rem 2.5rem .625rem 0;position:relative;width:50%;z-index:2}.timeline__item:after{background-color:#fff;border:4px solid #ddd;border-radius:50%;content:'';height:20px;position:absolute;right:-10px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);top:50%;width:20px;z-index:1}.timeline__item.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;opacity:0}.timeline__item.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}.timeline__item--left{left:0}.timeline__item--right{left:50%;padding:.625rem 0 .625rem 2.5rem}.timeline__item--right:after{left:-10px}.timeline__item--right .timeline__content:before{border-bottom:10px solid transparent;border-right:12px solid #ccc;border-left:none;border-top:10px solid transparent;left:-12px}.timeline__item--right .timeline__content:after{border-bottom:9px solid transparent;border-right:11px solid #fff;border-left:none;border-top:9px solid transparent;left:-10px}.timeline__content{background-color:#fff;border:1px solid #ccc;border-radius:10px;color:#333;display:block;padding:1.25rem;position:relative}.timeline__content:after,.timeline__content:before{content:'';height:0;position:absolute;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);top:50%;width:0}.timeline__content:before{border-bottom:10px solid transparent;border-left:12px solid #ccc;border-top:10px solid transparent;right:-12px;z-index:1}.timeline__content:after{border-bottom:9px solid transparent;border-left:11px solid #fff;border-top:9px solid transparent;right:-10px;z-index:2}.timeline__content h2{font-size:1.25rem;font-weight:700;margin:0 0 .625rem}.timeline__content p{font-size:.9375rem;line-height:1.5;margin-bottom:10px}.timeline--horizontal{font-size:0;padding:0 3.125rem;overflow:hidden;white-space:nowrap}.timeline--horizontal .timeline-divider{background-color:#ddd;display:block;height:4px;left:40px;position:absolute;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);right:40px;z-index:1}.timeline--horizontal .timeline__items{-webkit-transition:all .8s;-o-transition:all .8s;transition:all .8s;will-change:transform}.timeline--horizontal .timeline__item{display:inline-block;left:0;padding:0 0 2.5rem;position:relative;-webkit-transition:none;-o-transition:none;transition:none;vertical-align:top;white-space:normal}.timeline--horizontal .timeline__item:after{left:50%;right:auto;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);top:100%}.timeline--horizontal .timeline__item .timeline__item__inner{display:table;height:100%;width:100%}.timeline--horizontal .timeline__item .timeline__content__wrap{display:table-cell;margin:0;padding:0;vertical-align:bottom}.timeline--horizontal .timeline__item .timeline__content:before{border-left:12px solid transparent;border-right:12px solid transparent;border-top:12px solid #ccc;left:50%;right:auto;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);top:100%}.timeline--horizontal .timeline__item .timeline__content:after{border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #fff;left:50%;right:auto;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);top:100%}.timeline--horizontal .timeline__item--bottom{padding:2.5rem 0 0}.timeline--horizontal .timeline__item--bottom:after{top:0}.timeline--horizontal .timeline__item--bottom .timeline__content__wrap{vertical-align:top}.timeline--horizontal .timeline__item--bottom .timeline__content:before{border-bottom:12px solid #ccc;border-left:12px solid transparent;border-right:12px solid transparent;border-top:none;bottom:100%;top:auto}.timeline--horizontal .timeline__item--bottom .timeline__content:after{border-bottom:10px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent;border-top:none;bottom:100%;top:auto}.timeline-nav-button{background-color:#fff;border:2px solid #ddd;border-radius:50px;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:none;box-shadow:none;cursor:pointer;display:block;height:40px;outline:0;position:absolute;text-indent:-9999px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);top:50%;width:40px;z-index:10}.timeline-nav-button:disabled{opacity:.5;pointer-events:none}.timeline-nav-button:before{background-position:center center;background-repeat:no-repeat;content:'';display:block;height:14px;left:50%;position:absolute;-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);top:50%;width:8px}.timeline-nav-button--prev{left:0}.timeline-nav-button--prev:before{background-image:url(../images/arrow-left.svg)}.timeline-nav-button--next{right:0}.timeline-nav-button--next:before{background-image:url(../images/arrow-right.svg)}.timeline--mobile{padding:0}.timeline--mobile:before{left:10px!important;margin:0!important}.timeline--mobile .timeline__item{left:0;padding-left:40px;padding-right:0;width:100%}.timeline--mobile .timeline__item:after{left:2px;margin:0}.timeline--mobile .timeline__item .timeline__content:before{left:-12px;border-bottom:12px solid transparent;border-right:12px solid #ccc;border-left:none;border-top:12px solid transparent}.timeline--mobile .timeline__item .timeline__content:after{left:-10px;border-bottom:10px solid transparent;border-right:10px solid #fff;border-left:none;border-top:10px solid transparent}@-webkit-keyframes fadeIn{0%{opacity:0;top:70px}100%{opacity:1;top:0}}@keyframes fadeIn{0%{opacity:0;top:70px}100%{opacity:1;top:0}}@-webkit-keyframes liftUp{0%{top:0}100%{top:-15px}}@keyframes liftUp{0%{top:0}100%{top:-15px}}

html {
    scroll-behavior: smooth;
    background-color: rgb(12, 74, 110);
    background-image: radial-gradient(at 86% 74%, rgb(125, 211, 252) 0, transparent 100%), radial-gradient(at 53% 8%, rgb(52, 211, 153) 0, transparent 82%), radial-gradient(at 48% 39%, rgb(41, 37, 36) 0, transparent 88%), radial-gradient(at 88% 94%, rgb(103, 232, 249) 0, transparent 58%), radial-gradient(at 45% 60%, rgb(109, 40, 217) 0, transparent 8%), radial-gradient(at 26% 44%, rgb(100, 116, 139) 0, transparent 45%);
  
} 

body{
  /* @apply max-w-screen-2xl mx-auto */
}

#scrollToTop{
    @apply text-slate-50 font-extrabold fixed block bottom-5 left-10 w-24 mx-auto transition hover:-translate-y-2
}

dialog{
    @apply w-full h-full
}


dialog::backdrop{
    @apply bg-slate-900 opacity-75
}


menu{
    @apply flex justify-center fixed top-24 right-10 flex-col gap-5
}
    menu li{
        @apply flex-wrap col-span-1 
    }

    menu svg {
        @apply fill-slate-200 hover:fill-slate-50 w-8 h-8 block odd:hover:rotate-6 even:hover:-rotate-6 transition 
    }

    menu span {
        @apply hidden
    }


nav{
    @apply w-36 fixed top-24 left-10
}

    nav #skull{
        @apply w-20 h-20 mx-auto hover:translate-y-1 transition fill-slate-400
    }

    nav a{
        @apply
            drop-shadow
            text-white
            text-center
            tracking-widest 
            block 
            p-3 
            uppercase 
            font-leaguespartan 
            underline decoration-wavy 
            underline-offset-2 
            hover:underline-offset-4 
            transition 
            decoration-orange-900
    }


main{
    @apply min-h-screen
}

header {
      /* https://hypercolor.dev/mesh */
      background-color: rgb(24, 24, 27);
      background-image: radial-gradient(at 18% 65%, rgb(229, 229, 229) 0, transparent 82%), radial-gradient(at 45% 80%, rgb(165, 243, 252) 0, transparent 74%), radial-gradient(at 61% 67%, rgb(226, 232, 240) 0, transparent 55%), radial-gradient(at 47% 60%, rgb(30, 64, 175) 0, transparent 60%), radial-gradient(at 65% 20%, rgb(163, 163, 163) 0, transparent 62%), radial-gradient(at 88% 81%, rgb(244, 244, 245) 0, transparent 40%);
    
    @apply pt-24 pb-24 pl-64 grid grid-flow-row
}



header h1 {
    @apply text-white font-leaguespartan drop-shadow-md text-6xl mb-10 max-w-screen-lg leading-tight pr-36
    col-span-2
}

header h1 span {
    @apply text-blue-100
}

header picture{
    @apply row-span-2 align-middle
}

header picture img{
   @apply rounded-full w-28 lg:w-28 border-4 border-white hover:-rotate-12 transition ease-in-out
   
}

header p {
    @apply text-xl leading-tight max-w-screen-lg pr-64 mb-5
    col-start-2 
}

header h3{
    @apply font-leaguespartan text-lg mb-6 uppercase mt-14
}

header aside {
    @apply col-span-2
}

header aside dl {
    @apply mb-10 
}

header aside dt {
    @apply font-leaguespartan text-lg mb-2
}

header aside dd {
    @apply inline-grid mr-5
}




article {
    @apply min-h-screen odd:bg-pink-600 pt-12 pl-64 pr-48 pb-12
}

article h2{
    @apply font-leaguespartan text-3xl mb-6 uppercase
}

article h3{
    @apply font-leaguespartan text-xl mb-6 uppercase
}

article p{
    @apply mb-6  
}



article#work{
    background-color: rgb(0, 0, 0);
    background-image: radial-gradient(at 100% 28%, rgb(156, 163, 175) 0, transparent 67%), radial-gradient(at 76% 87%, rgb(203, 213, 225) 0, transparent 82%), radial-gradient(at 21% 31%, rgb(4, 120, 87) 0, transparent 73%), radial-gradient(at 65% 22%, rgb(14, 116, 144) 0, transparent 3%), radial-gradient(at 23% 48%, rgb(186, 230, 253) 0, transparent 90%), radial-gradient(at 16% 37%, rgb(120, 53, 15) 0, transparent 1%);
}

article#work h2 {
    @apply text-slate-50
}

article#work section {
    @apply grid grid-cols-3 gap-6 mb-20
}

article#work div {
    @apply p-5 bg-lime-100 hover:bg-yellow-200 cursor-pointer
}

article#work img {
    @apply w-full h-36 object-contain mb-5
}

article#work h4 {
    @apply font-leaguespartan mb-2 shadow-slate-50
}


article#speakingWriting{
    background-color: rgb(124, 45, 18);
    background-image: radial-gradient(at 69% 100%, rgb(250, 250, 249) 0, transparent 99%), radial-gradient(at 34% 66%, rgb(234, 179, 8) 0, transparent 58%), radial-gradient(at 28% 31%, rgb(12, 74, 110) 0, transparent 68%), radial-gradient(at 9% 98%, rgb(64, 64, 64) 0, transparent 62%), radial-gradient(at 12% 34%, rgb(254, 252, 232) 0, transparent 53%), radial-gradient(at 78% 52%, rgb(220, 38, 38) 0, transparent 58%);

}



/*

html{
    @apply bg-slate-800
}

body{
    @apply bg-gradient-to-tr pt-2 from-cyan-900 via-cyan-200 to-cyan-900
}

menu{
    @apply flex flex-row justify-center gap-8 mb-5 lg:fixed lg:top-12 lg:right-5 lg:flex-col lg:gap-3
}
    menu li{
        @apply lg:flex-wrap lg:col-span-1
    }

    menu svg {
        @apply opacity-40 hover:opacity-70 w-8 h-8 hover:rotate-6 transition
    }

    menu span {
        @apply hidden
    }


#wrap{
    @apply grid grid-flow-row 
}

main{
    @apply grid grid-flow-row 
}


h1{
    @apply leading-tight text-emerald-700 mb-5 text-center text-4xl font-leaguespartan drop-shadow-md shadow-emerald-800
}

    h1 span {
        @apply text-emerald-800 
    }

    h1 strong{
        @apply text-pink-600 text-xl align-super leading-4
    }

h2{
    @apply text-emerald-700 font-leaguespartan drop-shadow-md shadow-emerald-800   
}

header {
    @apply bg-gradient-to-r from-amber-100 via-amber-50 to-amber-100 mb-2 px-10 lg:grid lg:grid-cols-12 lg:px-0 lg:py-20 lg:mx-auto
}
    
    header h1{
        @apply  lg:row-span-1 lg:col-start-4 lg:col-span-8 lg:text-left
    }

    header mark{
        @apply bg-transparent text-emerald-800
    }

    header h1 span{
        @apply lg:text-6xl
    }

    header picture{
        @apply mb-5 block lg:row-span-2 lg:col-start-1 lg:row-start-1 lg:col-span-3
    }

    header picture img {
        @apply rounded-full w-36 lg:w-44 lg:mr-10 mx-auto border-4 border-emerald-600 hover:-rotate-12 transition ease-in-out
    }

    header p {
        @apply text-slate-900 mb-5 
    }

    header blockquote {
        @apply text-center lg:text-left font-serif text-slate-600 lg:row-span-1 lg:col-start-4 lg:col-span-6
    }

    header blockquote i {
        @apply text-pink-600 font-bold text-lg leading-3
    }

    header blockquote time {
        @apply font-bold hover:underline
    }

    header blockquote span {
        @apply font-normal not-italic
    }




nav{
    @apply row-start-3 px-5 lg:row-start-5 lg:grid lg:grid-flow-col lg:max-w-screen-lg lg:mx-auto lg:gap-10
}

    nav h2{
        @apply mt-10 text-center text-2xl lg:col-span-3 lg:row-start-1
    }

    nav em{
        @apply text-center block 
    }

    nav em span{
        @apply not-italic
    }

    nav dl {
        @apply my-5 mb-7 flex flex-wrap justify-center lg:col-span-1 lg:row-start-2
    }

    nav dt{
        @apply font-extrabold text-center mb-1 text-emerald-700 w-11/12
    }

    nav dd{
        @apply text-center font-mono inline-block align-middle px-2 py-0.5 my-1 mx-auto rounded-md bg-gradient-to-tr from-white via-emerald-50 to-emerald-100 shadow-md
    }


article#history{
    @apply row-start-1 bg-cyan-900 mb-2
}



article#speakingWriting{
    @apply bg-cyan-900 mb-2
}

article h2{
    @apply text-white p-5 text-3xl  lg:mx-auto lg:container
}

/* Speaking & Writing */
/*
#svelteComponent{
    @apply h-auto snap-x my-0 mt-2 mb-5 lg:pl-10 xl:pl-14 snap-mandatory w-screen flex overflow-scroll flex-row gap-x-1
}

    #svelteComponent li {
        @apply col-span-3 snap-center p-3 bg-slate-50 rounded-lg border shadow-lg shadow-slate-800 ml-5 mb-5
    }


    #svelteComponent li a {
        @apply w-64 grid grid-flow-row row-span-3 col-span-5
    }
    #svelteComponent li a header {
        @apply bg-none col-start-1 col-end-2 bg-white text-3xl rounded-full shadow-md border-2 block px-4 py-3 m-auto
    }

    #svelteComponent li a h3 {
        @apply col-start-3 col-end-5 font-leaguespartan text-green-700 text-sm py-4 pl-3
    }

    #svelteComponent li a span {
        @apply mt-5 col-start-1 col-span-5 row-start-2 underline underline-offset-2 block text-center hover:no-underline
    }

    #svelteComponent li time {
        @apply block col-start-1 col-span-5 row-start-3 text-gray-300 text-3xl font-serif text-center mt-5
    }




#recentExamples{
    @apply bg-gradient-to-r from-amber-100 via-amber-50 to-amber-100 row-start-3
}

#recentExamples h2{
    @apply text-emerald-700 
}



#projects{
    @apply bg-gradient-to-r from-amber-100 via-amber-50 to-amber-100
}

#projects h2{
    @apply text-emerald-700 lg:mx-auto lg:container mt-5 text-3xl
}

#projects section{
 @apply container mx-auto w-full mb-10 gap-4 columns-3 xl:columns-4 space-y-4 break-inside-avoid
}

#projects div{
    @apply p-6 shadow-lg bg-cyan-900 rounded-lg border break-inside-avoid
}

#projects h3{
    @apply text-white font-leaguespartan drop-shadow-md my-3
}

#projects img{
    @apply border-2 border-yellow-100
}

#projects p{
    @apply hidden sm:block text-slate-100
}

#projects em{
    @apply text-slate-100 block
}

#projects a{
    @apply inline-block rounded-full border border-white p-4 mt-5 shadow-lg text-white mr-5
}
*/
/*
#wrap{
    @apply grid grid-cols-12 gap-x-12 mx-auto px-24 auto-rows-max pt-16
}

header {   
    @apply col-start-4 col-span-9
}

main {
   @apply col-start-4 col-span-9
} 

footer{
    @apply col-start-1 col-span-12
}


article{
    @apply my-14 p-8 bg-sky-900 rounded-xl
}

article h2{
    @apply text-gray-200 shadow-lg leading-tight
}


*/




/*


   










#recentExamples{
    @apply grid gap-6 grid-cols-6
}

#recentExamples h2{
    @apply col-span-6 row-span-1
}

#recentExamples details{
    @apply bg-slate-50 cursor-pointer col-span-2 shadow-lg
}

#recentExamples details[open] summary{
    @apply bg-teal-400
}


#recentExamples summary{
    @apply flex items-center p-10
}





*/

/* Timeline JS styles */
/*
.timeline{display: none;}
.timeline{-webkit-box-sizing:border-box;box-sizing:border-box;position:relative}
.timeline *,.timeline :after,.timeline :before{-webkit-box-sizing:inherit;box-sizing:inherit}
.timeline:not(.timeline--horizontal):before{background-color:#ddd;bottom:0;content:'';left:50%;margin-left:-2px;position:absolute;top:0;width:4px;z-index:1}
.timeline__wrap{overflow:hidden;position:relative;z-index:2}
.timeline__item{font-size:16px;font-size:1rem;padding:.625rem 2.5rem .625rem 0;position:relative;width:50%;z-index:2}
.timeline__item:after{background-color:#fff;border:4px solid #ddd;border-radius:50%;content:'';height:20px;position:absolute;right:-10px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);top:50%;width:20px;z-index:1}
.timeline__item.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;opacity:0}
.timeline__item.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
.timeline__item--left{left:0}
.timeline__item--right{left:50%;padding:.625rem 0 .625rem 2.5rem}
.timeline__item--right:after{left:-10px}
.timeline__item--right .timeline__content:before{border-bottom:10px solid transparent;border-right:12px solid #ccc;border-left:none;border-top:10px solid transparent;left:-12px}
.timeline__item--right .timeline__content:after{border-bottom:9px solid transparent;border-right:11px solid #fff;border-left:none;border-top:9px solid transparent;left:-10px}
.timeline__content{background-color:#fff;border:1px solid #ccc;border-radius:10px;color:#333;display:block;padding:1.25rem;position:relative}
.timeline__content:after,.timeline__content:before{content:'';height:0;position:absolute;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);top:50%;width:0}
.timeline__content:before{border-bottom:10px solid transparent;border-left:12px solid #ccc;border-top:10px solid transparent;right:-12px;z-index:1}
.timeline__content:after{border-bottom:9px solid transparent;border-left:11px solid #fff;border-top:9px solid transparent;right:-10px;z-index:2}
.timeline__content h2{font-size:1.25rem;font-weight:700;margin:0 0 .625rem}
.timeline__content p{font-size:.9375rem;line-height:1.5;margin-bottom:10px}
.timeline--horizontal{font-size:0;padding:0 3.125rem;overflow:hidden;white-space:nowrap}.timeline--horizontal .timeline-divider{background-color:#ddd;display:block;height:4px;left:40px;position:absolute;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);right:40px;z-index:1}.timeline--horizontal .timeline__items{-webkit-transition:all .8s;-o-transition:all .8s;transition:all .8s;will-change:transform}.timeline--horizontal .timeline__item{display:inline-block;left:0;padding:0 0 2.5rem;position:relative;-webkit-transition:none;-o-transition:none;transition:none;vertical-align:top;white-space:normal}.timeline--horizontal .timeline__item:after{left:50%;right:auto;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);top:100%}.timeline--horizontal .timeline__item .timeline__item__inner{display:table;height:100%;width:100%}.timeline--horizontal .timeline__item .timeline__content__wrap{display:table-cell;margin:0;padding:0;vertical-align:bottom}.timeline--horizontal .timeline__item .timeline__content:before{border-left:12px solid transparent;border-right:12px solid transparent;border-top:12px solid #ccc;left:50%;right:auto;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);top:100%}.timeline--horizontal .timeline__item .timeline__content:after{border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #fff;left:50%;right:auto;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);top:100%}.timeline--horizontal .timeline__item--bottom{padding:2.5rem 0 0}.timeline--horizontal .timeline__item--bottom:after{top:0}.timeline--horizontal .timeline__item--bottom .timeline__content__wrap{vertical-align:top}.timeline--horizontal .timeline__item--bottom .timeline__content:before{border-bottom:12px solid #ccc;border-left:12px solid transparent;border-right:12px solid transparent;border-top:none;bottom:100%;top:auto}.timeline--horizontal .timeline__item--bottom .timeline__content:after{border-bottom:10px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent;border-top:none;bottom:100%;top:auto}.timeline-nav-button{background-color:#fff;border:2px solid #ddd;border-radius:50px;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:none;box-shadow:none;cursor:pointer;display:block;height:40px;outline:0;position:absolute;text-indent:-9999px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);top:50%;width:40px;z-index:10}.timeline-nav-button:disabled{opacity:.5;pointer-events:none}.timeline-nav-button:before{background-position:center center;background-repeat:no-repeat;content:'';display:block;height:14px;left:50%;position:absolute;-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);top:50%;width:8px}.timeline-nav-button--prev{left:0}.timeline-nav-button--prev:before{background-image:url(../images/arrow-left.svg)}.timeline-nav-button--next{right:0}.timeline-nav-button--next:before{background-image:url(../images/arrow-right.svg)}.timeline--mobile{padding:0}.timeline--mobile:before{left:10px!important;margin:0!important}.timeline--mobile .timeline__item{left:0;padding-left:40px;padding-right:0;width:100%}.timeline--mobile .timeline__item:after{left:2px;margin:0}.timeline--mobile .timeline__item .timeline__content:before{left:-12px;border-bottom:12px solid transparent;border-right:12px solid #ccc;border-left:none;border-top:12px solid transparent}.timeline--mobile .timeline__item .timeline__content:after{left:-10px;border-bottom:10px solid transparent;border-right:10px solid #fff;border-left:none;border-top:10px solid transparent}@-webkit-keyframes fadeIn{0%{opacity:0;top:70px}100%{opacity:1;top:0}}@keyframes fadeIn{0%{opacity:0;top:70px}100%{opacity:1;top:0}}@-webkit-keyframes liftUp{0%{top:0}100%{top:-15px}}@keyframes liftUp{0%{top:0}100%{top:-15px}}


*/