@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'league_spartanbold';
    src: url('./leaguespartan-bold-webfont.woff') format('woff');
  }

  html{
      @apply bg-black
  }

body{
    @apply bg-amber-100 border-t-8 border-t-cyan-900 py-10
}

menu{
    @apply flex flex-row flex-nowrap justify-center gap-8 mb-5
}

    menu svg {
        @apply mb-4 opacity-40 hover:opacity-70 w-8 h-8 hover:rotate-6 transition
    }

    menu span {
        @apply hidden
    }


#wrap{
    @apply grid grid-flow-row 
}

main{
    @apply grid grid-flow-row 
}


h1{
    @apply text-emerald-700 mb-5 text-center text-4xl font-leaguespartan drop-shadow-md shadow-emerald-800
}

    h1 span {
        @apply text-emerald-800 
    }

    h1 strong{
        @apply text-pink-600 text-xl align-super leading-4
    }

h2{
    @apply text-emerald-700 font-leaguespartan drop-shadow-md shadow-emerald-800   
}

header {
    @apply mb-10 px-10
}

    header picture{
        @apply mb-5 block 
    }

    header picture img {
        @apply rounded-full w-36 mx-auto border-4 border-emerald-600 hover:-rotate-12 transition ease-in-out
    }

    header p {
        @apply text-slate-900 mb-5
    }

    header blockquote {
        @apply text-center font-serif text-slate-600
    }

    header blockquote i {
        @apply text-pink-600 font-bold text-lg leading-3
    }

    header blockquote time {
        @apply font-bold hover:underline
    }

    header blockquote time span {
        @apply font-normal not-italic
    }


nav{
    @apply row-start-3 px-5
}

    nav h2{
        @apply mt-10 text-center text-2xl
    }

    nav em{
        @apply text-center block 
    }

    nav em span{
        @apply not-italic
    }

    nav dl {
        @apply my-5 mb-7 flex flex-wrap justify-center 
    }

    nav dt{
        @apply font-extrabold text-center mb-1 text-emerald-700 w-11/12
    }

    nav dd{
        @apply text-center font-mono inline-block align-middle px-2 py-0.5 my-1 mx-auto rounded-md bg-gradient-to-tr from-white via-emerald-50 to-emerald-100 shadow-md
    }


article{
    @apply bg-cyan-900 py-5
}

article h2{
    @apply text-white p-5 text-xl
}

#svelteComponent{
    @apply snap-x my-0 mt-5 mb-5 snap-mandatory w-screen h-80 flex overflow-scroll flex-row gap-x-2
}

    #svelteComponent li {
        @apply col-span-3 snap-center p-5 bg-slate-50 rounded-lg border shadow-lg shadow-slate-800 ml-5 mb-5 
    }

    #svelteComponent li a {
        @apply w-64 block
    }
    #svelteComponent li a header {
        @apply text-3xl rounded-full shadow-md border-2 block px-4 py-3 m-auto text-center max-w-fit
    }

    #svelteComponent li a h3 {
        @apply font-leaguespartan text-green-700 text-sm py-5 text-center
    }

    #svelteComponent li a span {
        @apply underline underline-offset-2 block text-center hover:no-underline
    }

    #svelteComponent li time {
        @apply block text-gray-300 text-3xl font-serif text-center mt-5
    }




#recentExamples{
    @apply bg-amber-100 row-start-3
}

#recentExamples h2{
    @apply text-emerald-700 
}



#projects{
    @apply bg-amber-100
}

#projects h2{
    @apply row-start-1 text-emerald-700 
}

#projects div{
    @apply  m-5 p-6 shadow-lg bg-cyan-900 rounded-lg border
}


#projects h3{
    @apply text-white font-leaguespartan drop-shadow-md my-3
}

#projects img{
    @apply border-2 border-yellow-100
}

#projects p{
    @apply hidden sm:block text-slate-100
}

#projects em{
    @apply text-slate-100 block
}

#projects a{
    @apply inline-block rounded-full border border-white p-4 mt-5 shadow-lg text-white mr-5
}

/*
#wrap{
    @apply grid grid-cols-12 gap-x-12 mx-auto px-24 auto-rows-max pt-16
}

header {   
    @apply col-start-4 col-span-9
}

main {
   @apply col-start-4 col-span-9
} 

footer{
    @apply col-start-1 col-span-12
}


article{
    @apply my-14 p-8 bg-sky-900 rounded-xl
}

article h2{
    @apply text-gray-200 shadow-lg leading-tight
}


*/




/*


   










#recentExamples{
    @apply grid gap-6 grid-cols-6
}

#recentExamples h2{
    @apply col-span-6 row-span-1
}

#recentExamples details{
    @apply bg-slate-50 cursor-pointer col-span-2 shadow-lg
}

#recentExamples details[open] summary{
    @apply bg-teal-400
}


#recentExamples summary{
    @apply flex items-center p-10
}





*/

/* Timeline JS styles */
.timeline{display: none;}
.timeline{-webkit-box-sizing:border-box;box-sizing:border-box;position:relative}
.timeline *,.timeline :after,.timeline :before{-webkit-box-sizing:inherit;box-sizing:inherit}
.timeline:not(.timeline--horizontal):before{background-color:#ddd;bottom:0;content:'';left:50%;margin-left:-2px;position:absolute;top:0;width:4px;z-index:1}
.timeline__wrap{overflow:hidden;position:relative;z-index:2}
.timeline__item{font-size:16px;font-size:1rem;padding:.625rem 2.5rem .625rem 0;position:relative;width:50%;z-index:2}
.timeline__item:after{background-color:#fff;border:4px solid #ddd;border-radius:50%;content:'';height:20px;position:absolute;right:-10px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);top:50%;width:20px;z-index:1}
.timeline__item.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;opacity:0}
.timeline__item.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
.timeline__item--left{left:0}
.timeline__item--right{left:50%;padding:.625rem 0 .625rem 2.5rem}
.timeline__item--right:after{left:-10px}
.timeline__item--right .timeline__content:before{border-bottom:10px solid transparent;border-right:12px solid #ccc;border-left:none;border-top:10px solid transparent;left:-12px}
.timeline__item--right .timeline__content:after{border-bottom:9px solid transparent;border-right:11px solid #fff;border-left:none;border-top:9px solid transparent;left:-10px}
.timeline__content{background-color:#fff;border:1px solid #ccc;border-radius:10px;color:#333;display:block;padding:1.25rem;position:relative}
.timeline__content:after,.timeline__content:before{content:'';height:0;position:absolute;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);top:50%;width:0}
.timeline__content:before{border-bottom:10px solid transparent;border-left:12px solid #ccc;border-top:10px solid transparent;right:-12px;z-index:1}
.timeline__content:after{border-bottom:9px solid transparent;border-left:11px solid #fff;border-top:9px solid transparent;right:-10px;z-index:2}
.timeline__content h2{font-size:1.25rem;font-weight:700;margin:0 0 .625rem}
.timeline__content p{font-size:.9375rem;line-height:1.5;margin-bottom:10px}
.timeline--horizontal{font-size:0;padding:0 3.125rem;overflow:hidden;white-space:nowrap}.timeline--horizontal .timeline-divider{background-color:#ddd;display:block;height:4px;left:40px;position:absolute;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);right:40px;z-index:1}.timeline--horizontal .timeline__items{-webkit-transition:all .8s;-o-transition:all .8s;transition:all .8s;will-change:transform}.timeline--horizontal .timeline__item{display:inline-block;left:0;padding:0 0 2.5rem;position:relative;-webkit-transition:none;-o-transition:none;transition:none;vertical-align:top;white-space:normal}.timeline--horizontal .timeline__item:after{left:50%;right:auto;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);top:100%}.timeline--horizontal .timeline__item .timeline__item__inner{display:table;height:100%;width:100%}.timeline--horizontal .timeline__item .timeline__content__wrap{display:table-cell;margin:0;padding:0;vertical-align:bottom}.timeline--horizontal .timeline__item .timeline__content:before{border-left:12px solid transparent;border-right:12px solid transparent;border-top:12px solid #ccc;left:50%;right:auto;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);top:100%}.timeline--horizontal .timeline__item .timeline__content:after{border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #fff;left:50%;right:auto;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);top:100%}.timeline--horizontal .timeline__item--bottom{padding:2.5rem 0 0}.timeline--horizontal .timeline__item--bottom:after{top:0}.timeline--horizontal .timeline__item--bottom .timeline__content__wrap{vertical-align:top}.timeline--horizontal .timeline__item--bottom .timeline__content:before{border-bottom:12px solid #ccc;border-left:12px solid transparent;border-right:12px solid transparent;border-top:none;bottom:100%;top:auto}.timeline--horizontal .timeline__item--bottom .timeline__content:after{border-bottom:10px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent;border-top:none;bottom:100%;top:auto}.timeline-nav-button{background-color:#fff;border:2px solid #ddd;border-radius:50px;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:none;box-shadow:none;cursor:pointer;display:block;height:40px;outline:0;position:absolute;text-indent:-9999px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);top:50%;width:40px;z-index:10}.timeline-nav-button:disabled{opacity:.5;pointer-events:none}.timeline-nav-button:before{background-position:center center;background-repeat:no-repeat;content:'';display:block;height:14px;left:50%;position:absolute;-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);top:50%;width:8px}.timeline-nav-button--prev{left:0}.timeline-nav-button--prev:before{background-image:url(../images/arrow-left.svg)}.timeline-nav-button--next{right:0}.timeline-nav-button--next:before{background-image:url(../images/arrow-right.svg)}.timeline--mobile{padding:0}.timeline--mobile:before{left:10px!important;margin:0!important}.timeline--mobile .timeline__item{left:0;padding-left:40px;padding-right:0;width:100%}.timeline--mobile .timeline__item:after{left:2px;margin:0}.timeline--mobile .timeline__item .timeline__content:before{left:-12px;border-bottom:12px solid transparent;border-right:12px solid #ccc;border-left:none;border-top:12px solid transparent}.timeline--mobile .timeline__item .timeline__content:after{left:-10px;border-bottom:10px solid transparent;border-right:10px solid #fff;border-left:none;border-top:10px solid transparent}@-webkit-keyframes fadeIn{0%{opacity:0;top:70px}100%{opacity:1;top:0}}@keyframes fadeIn{0%{opacity:0;top:70px}100%{opacity:1;top:0}}@-webkit-keyframes liftUp{0%{top:0}100%{top:-15px}}@keyframes liftUp{0%{top:0}100%{top:-15px}}

